services:
  mariadb:
    image: mariadb:10.11.15
    container_name: mariadb
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_COMPOSE_ROOT_PASSWORD}
#      MARIADB_DATABASE: ${DB_DATABASE_NAME}
      MARIADB_DATABASE: nok_nok
      MARIADB_USER: ${DB_COMPOSE_USER}
      MARIADB_PASSWORD: ${DRIVER_PASSWORD}
    volumes:
      - mariadb:/var/lib/mysql
      - ./dump.sql:/docker-entrypoint-initdb.d/00-dump.sql
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost", "-u", "${DB_COMPOSE_USER}", "-p${DRIVER_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5

  # AOF는 Reids가 재시작해도 데이터 복구가 가능하며 데이터 유실이 없으며 AOF 로그 저장을 할 수 있다.
  #단점은 aof 파일이 점점 커지며 모든 쓰기마다 I/O 작업이 발생한다.
  #해당 프로젝트에서는 AOF 기능이 필요 없으니 제외
#  redis:
#    image: redis:7.0.15
#    container_name: redis
#    ports:
#      - "6379:6379"
#    command: ["redis-server", "--appendonly", "yes", "--appendfsync", "everysec"]
#    volumes:
#      - redis:/volumes
    restart: always

  backend:
    image: stayonasdev/nok-nok/spring-boot-docker:latest
    env_file:
      - .env
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mariadb://mariadb:3306/nok_nok
      SPRING_PROFILES_ACTIVE: dev
    depends_on:
      mariadb:
        condition: service_healthy
#      redis:
#        condition: service_started
    restart: always
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: '1'
          memory: 3000M
        reservations:
          cpus: '0.01'
          memory: 1024M

volumes:
  mariadb:
#  redis:
