spring:
datasource:
  driver-class-name: ${DB_NAME}
  url: ${DB_URL}
  username: ${DB_USERNAME}
  password: ${DB_PASSWORD}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      timeout: 5000ms

server:
  port: 8080
  servlet:
    context-path: /nok-nok